/* color css*/

.light__red {
  background: rgb(245, 156, 156);
}

.light__purple {
  background: rgb(243, 202, 243);
}

.light__green {
  background: rgb(215, 241, 215);
}
.light__blue {
  background: rgb(217, 217, 245);
}
.dark__red {
  background: red;
}
.dark__purple {
  background: purple;
}
.dark__green {
  background: green;
}
.dark__blue {
  background: blue;
}